{
  "swagger": "2.0",
  "info": {
    "title": "Swagger 1",
    "description": "Swagger 1 documentation.",
    "version": "2014-04-01-preview",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [ "application/json" ],
  "consumes": [ "application/json" ],
  "paths": {
    "/subscriptions/{subscriptionId}/resource": {
      "get": {
        "operationId": "SimpleGet",
        "summary": "Get product",
        "description": "Operation description.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParamterer"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "200": {
            "description": "A list of resources",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "Resource_Create",
        "summary": "Create product",
        "description": "Operation description.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Payload",
            "required": true,
            "schema": {"$ref": "#/definitions/Product"}
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "API ID.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Redis"
        ],
        "responses": {
          "200": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Product": {
      "description": "The product documentation.",
      "properties": {
        "product_id": {
          "type": "string",
          "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
        },
        "Tags": {
          "$ref": "#/definitions/Tags",
          "description": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "startDate": {
          "$ref": "#/definitions/date",
          "description": "The RFC3339 full-date of the start of the period for which data is exported."
        },
        "endDate": {
          "$ref": "#/definitions/date",
          "description": "The RFC3339 full-date of the end of the period for which data is exported."
        },
        "IntParamName": {
          "$ref": "#/definitions/IntTypeDef",
          "description": "Int type parameter referencing a definition."
        },
        "containerUrl": {
          "$ref": "#/definitions/containerUrl"
        },
        "description": {
          "type": "string",
          "description": "Description of product."
        }
      }
    },
    "url": {
      "type": "string",
      "format": "uri"
    },
    "containerUrl": {
      "$ref": "#/definitions/url",
      "description": "A shared Access Signature (SAS) BLOB container URL to contain the exported data."
    },
    "IntTypeDef": {
      "type": "integer",
      "format": "int64",
      "description": "integer type common definition"
    },
    "date": {
      "type": "string",
      "format": "date",
      "description": "A date as defined by full-date in RFC3339."
    },
    "Tags": {
      "type": "string",
      "description": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
    },
    "Error": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParamterer": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API ID.",
      "required": true,
      "type": "string"
    }
  }
}
